<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>管理员列表</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron text-center" th:include="admin/_header::#header-section"></div>
<div th:include="admin/_nav::#admin-nav"></div>
<div class="container">
    <h2>管理员列表</h2>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>用户名</th>
            <th>最后登录时间</th>
            <th>创建时间</th>
            <th>是否删除</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="admin:${admins}">
            <td th:text="${admin.id}"></td>
            <td th:text="${admin.userName}"></td>
            <td th:text="${admin.lastLoginTime}"></td>
            <td th:text="${admin.createTime}"></td>
            <td th:text="${admin.isDelete}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="jumbotron text-center" th:include="admin/_footer::#copy-section"></div>
</body>
</html>